<fieldset>
  <legend>Companies</legend>
  <table *ngIf="companies && companies.length != 0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of companies">
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>{{c.email}}</td>
        <td>{{c.password}}</td>
      </tr>
    </tbody>
  </table>
  <div class="empty" *ngIf="companies && companies.length == 0">
    <span>You Have No Companies</span>
  </div>
</fieldset>