<div class="head">
  <h3>Add Coupon</h3>
</div>
<div class="content">
  <form #form="ngForm">
    <fieldset>
      <label for="category">Category</label>
      <select #category name="category" id="category" [(ngModel)]="coupon.category" required>
        <option value="FOOD">Food</option>
        <option value="ELECTRONICS">Electronics</option>
        <option value="HOME">Home</option>
        <option value="CLOTHING">Clothing</option>
        <option value="CAMPING">Camping</option>
        <option value="VACATION">Vacation</option>
      </select>
      <label for="title">Title</label>
      <br>
      <input #title name="title" type="text" id="title" [(ngModel)]="coupon.title" required>
      <br>
      <label for="description">Description</label>
      <br>
      <input #description name="description" type="text" id="description" [(ngModel)]="coupon.description" required>
      <br>
      <label for="startDate">Issue Date</label>
      <br>
      <input #startDate name="startDate" type="date" id="startDate" [(ngModel)]="coupon.startDate" required>
      <br>
      <label for="endDate">Expiration Date</label>
      <br>
      <input #endDate name="endDate" type="date" id="endDate" [(ngModel)]="coupon.endDate" required>
      <br>
      <label for="amount">Amount</label>
      <br>
      <input #amount name="amount" type="text" id="amount" [(ngModel)]="coupon.amount" required>
      <br>
      <label for="price">Price</label>
      <br>
      <input #price name="price" type="text" id="price" [(ngModel)]="coupon.price" required>
      <br>
      <label for="image">Image</label>
      <br>
      <input #image name="image" type="text" id="image" [(ngModel)]="coupon.image" (keydown.enter)="handleAddCoupon(category.value, title.value, description.value, startDate.value, endDate.value, amount.value, price.value, image.value)" required>
      <br>
      <div class="btn">
        <button [disabled]="form.invalid" (click)="handleAddCoupon(category.value, title.value, description.value, startDate.value, endDate.value, amount.value, price.value, image.value)">Add Coupon</button>
      </div>
    </fieldset>
  </form>
  <div>
    {{msg}}
  </div>
</div>