.empty {
  display: flex;
  justify-content: center;
}

table {
  width: 98vw;
  margin: 2vh auto;
}

.demo-button-container {
  display: flex;
  justify-content: center;
  margin: 2vh auto;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #4054b4;
  color: white;
}
