section {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 10% 5% auto 5%;
  grid-template-columns: auto;
}

header {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main {
  background-color: beige;
  overflow: auto;
}

footer {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
}
