<div class="head">
  <button class="btnNav" (click)="navToggle()">☰</button>
  <h3>Company</h3>
  <div></div>
</div>

<div class="main">
  <aside #sidenav>
    <div class="sidenavFlexContainer">
      <span>Menu</span>
      <a routerLink="/company/dashboard">Dashboard</a>
      <a routerLink="/company/add/coupon">Add Coupon</a>
      <a routerLink="/company/update/coupon">Update Coupon</a>
      <a routerLink="/company/remove/coupon">Remove Coupon</a>
      <a routerLink="/company/get/coupon/category">Get Coupons By Category</a>
      <a routerLink="/company/get/coupon/price">Get Coupons By Max Price</a>
    </div>
  </aside>

  <div class="content">
    <router-outlet name="company"></router-outlet>
  </div>
</div>