.content {
  text-align: center;
}

.head {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;
}

fieldset {
  display: inline-block;
  border: none;
}

label {
  display: inline-block;
  margin: 5px auto;
}

label:hover {
  cursor: pointer;
}

select {
  min-width: 100%;
}

button {
  text-align: center;
  padding: 10px;
  width: 50%;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 10%;
}
