<div class="head">
  <h3>Login</h3>
</div>
<div class="content">
  <fieldset>
    <label for="email">Email</label>
    <br>
    <input #email type="text">
    <br>
    <label for="password">Password</label>
    <br>
    <input #password type="password">
    <br>
    <label for="type">Client Type</label>
    <br>
    <select #clientType id="type">
      <option value="ADMINISTRATOR">Administrator</option>
      <option value="COMPANY">Company</option>
      <option value="CUSTOMER">Customer</option>
    </select>
    <br>
    <br>
    <div class="button">
      <button (click)="login(email.value, password.value, clientType.value)">Login</button>
    </div>
  </fieldset>
</div>