.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.head {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;
}

p {
  font-size: large;
  margin: 10px;
}
