<div class="container">
  <span>We Have Coupons</span>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, commodi ad hic repudiandae nesciunt possimus, at deleniti provident consequatur praesentium blanditiis consectetur tenetur fugit consequuntur tempore perspiciatis iste laudantium cumque!</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, commodi ad hic repudiandae nesciunt possimus, at deleniti provident consequatur praesentium blanditiis consectetur tenetur fugit consequuntur tempore perspiciatis iste laudantium cumque!</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, commodi ad hic repudiandae nesciunt possimus, at deleniti provident consequatur praesentium blanditiis consectetur tenetur fugit consequuntur tempore perspiciatis iste laudantium cumque!</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, commodi ad hic repudiandae nesciunt possimus, at deleniti provident consequatur praesentium blanditiis consectetur tenetur fugit consequuntur tempore perspiciatis iste laudantium cumque!</p>
</div>
