<form *ngIf="elementForm" [formGroup]="elementForm">
  <h1 mat-dialog-title>{{data.name}}</h1>
  <div mat-dialog-content>
    <div>No.</div>
    <div>
      <input formControlName="position">
    </div>
    <div>Name</div>
    <div>
      <input formControlName="name">
    </div>
    <div>Weight</div>
    <div>
      <input formControlName="weight">
    </div>
    <div>Symbol</div>
    <div>
      <input formControlName="symbol">
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" (click)="openEditDialog(elementForm)">Edit</button>
    <button mat-button mat-dialog-close color="primary" (click)="openRemoveDialog(elementForm)">Remove</button>
  </div>
</form>
