<div class="container">
  <h2 mat-dialog-title>Login</h2>
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">Login</button>
    <button mat-raised-button color="primary" routerLink="/admin">Admin</button>
    <button mat-raised-button color="primary" routerLink="/company">Company</button>
    <button mat-raised-button color="primary" routerLink="/customer">Customer</button>
  </mat-dialog-actions>
</div>
