<div class="head">
  <button class="btnNav" (click)="navToggle()">☰</button>
  <h3>Customer</h3>
  <div></div>
</div>

<div class="main">
  <aside #sidenav>
    <div class="sidenavFlexContainer">
      <span>Menu</span>
      <a routerLink="/customer/dashboard">Dashboard</a>
      <a routerLink="/customer/purchase/coupon">Purchase Coupon</a>
      <a routerLink="/customer/get/coupon/category">Get Coupons By Category</a>
      <a routerLink="/customer/get/coupon/price">Get Coupons By Max Price</a>
    </div>
  </aside>

  <div class="content">
    <router-outlet name="customer"></router-outlet>
  </div>
</div>