table {
  width: 100vw;
}

.demo-button-container {
  display: flex;
  justify-content: center;
  margin: 2vh auto;
  margin-bottom: 0;
}

.input {
  display: flex;
  justify-content: center;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #4054b4;
  color: white;
}
