.head {
  display: flex;
  justify-content: space-between;
  background-color: #e6e6e6;
  flex: 0 1 auto;
}

div h3 {
  position: relative;
  right: 1.5vw;
}

.main {
  display: flex;
}

.btnNav {
  width: 3vw;
  border: none;
  background: none;
  font-size: x-large;
}

.btnNav:hover {
  cursor: pointer;
  background-color: #868686;
  color: white;
}

aside {
  display: none;
  height: 85.6vh;
  width: 10vw;
  background-color: #e6e6e6;
  position: absolute;
}

.sidenavFlexContainer {
  display: flex;
  flex-direction: column;
}

aside span {
  text-align: center;
  padding: 5%;
  text-decoration: none;
  color: white;
  background-color: #868686;
  font-size: larger;
  font-weight: 500;
  display: inline-block;
  word-wrap: break-word;
}

aside a {
  padding: 5%;
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: 500;
  display: inline-block;
  word-wrap: break-word;
}

aside a:hover {
  text-decoration: underline;
}

.content {
  padding: 15px;
  display: flex;
  flex: 1 1 auto;
}

@media (max-width: 1024px) {
  .content {
    width: 75vw;
  }

  aside {
    width: 25vw;
    height: 75vh;
  }

  .btnNav {
    width: 10vw;
  }

  div h3 {
    right: 5vw;
  }
}

@media (max-width: 500px) {
  .content {
    width: 50vw;
  }

  aside {
    width: 50vw;
  }

  .btnNav {
    width: 15vw;
  }

  div h3 {
    right: 7.5vw;
  }
}
