<div class="head">
  <button class="btnNav" (click)="navToggle()">☰</button>
  <h3>Admin</h3>
  <div></div>
</div>

<div class="main">
  <aside #sidenav>
    <div class="sidenavFlexContainer">
      <span>Menu</span>
      <a routerLink="/admin/dashboard">Dashboard</a>
      <a routerLink="/admin/add/company">Add Company</a>
      <a routerLink="/admin/update/company">Update Company</a>
      <a routerLink="/admin/remove/company">Remove Company</a>
      <a routerLink="/admin/get/company">Get Company</a>
      <a routerLink="/admin/add/customer">Add Customer</a>
      <a routerLink="/admin/update/customer">Update Customer</a>
      <a routerLink="/admin/remove/customer">Remove Customer</a>
      <a routerLink="/admin/get/customer">Get Customer</a>
    </div>
  </aside>

  <div class="content">
    <router-outlet name="admin"></router-outlet>
  </div>
</div>