<form *ngIf="elementForm" [formGroup]="elementForm">
  <h1 mat-dialog-title>Add Customer</h1>
  <div mat-dialog-content>
    <div>First Name</div>
    <span class="errors" *ngIf="elementForm.get('firstName')?.errors">Required</span>
    <div class="input">
      <input formControlName="firstName">
    </div>
    <div>Last Name</div>
    <span class="errors" *ngIf="elementForm.get('lastName')?.errors">Required</span>
    <div class="input">
      <input formControlName="lastName">
    </div>
    <div>Email</div>
    <span class="errors" *ngIf="elementForm.get('email')?.errors?.['required']">Required</span>
    <span class="errors" *ngIf="elementForm.get('email')?.errors?.['email']">Invalid Email</span>
    <div class="input">
      <input formControlName="email">
    </div>
    <div>Password</div>
    <span class="errors" *ngIf="elementForm.get('password')?.errors">Required</span>
    <div class="input">
      <input formControlName="password">
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" [disabled]="elementForm.invalid" type="submit" (click)="openConfirmAddDialog(elementForm)">Add</button>
    <button mat-button mat-dialog-close color="primary">Cancel</button>
  </div>
</form>
